# ROS2 build artifacts
build/
install/
log/

# Colcon / CMake
*.log
*.cmake
CMakeFiles/
CMakeCache.txt

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# OS
.DS_Store

# Arduino / PlatformIO
.pio/
*.bin
